* {
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}

.list-group{
  margin-top: 60px;
}

/*.loading-messages{
  display: flex;
  align-content: center;
  margin: auto;
  display: block;
  background-color: white;
  border: solid 3px black;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}*/

/*hide modal and then when model is shown it follows this css*/
/*#modal-conatiner{
  display: none;
}*/

/*#modal-container.is-visible{
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /*shows above other content
  z-index:999;

  /*for scrolling
  overflow: auto;

  /*center the modal
  display: grid;
  text-align: center;
}*/

/*modal that displays pokemon details*/
/*.modal{
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 420px;
  text-align: left;
}

.modal h1{
  margin-top: 0;
}

.modal p{
  margin-bottom: 0;
}

.modal-close{
  float: right;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}


/*styles the list of pokemon
.pokemon-list{
  list-style: none;
  text-align: center;
}

.button-class{
  background-color: green; /* Green 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari 
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid rgba(0, 150, 0, 1);
  width: 40%;
  transition: all .2s ease-in-out;
}

.button-class:hover{
  background-color: rgba(0, 225, 0, 0.4);
  transform: scale(1.1);
}*/